body {
  margin: 0;
  font-style: normal;
  font-weight: 200;
  font-size: 0.9rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post {
  padding: 1%;
}

#post-page-content {
  width: 100%
}

.post-title-section {
  font-weight: 700;
  font-size: 20px;
}

.post-title {
  /*color: #212631;
  margin: 0 0 15px;*/
  font-weight: 400;
  text-decoration: none !important;
}

.post-title-wrap {
  width: 100%;
}

.category-badge, .last-update-badge {
  text-transform: uppercase;
  padding: 3px 10px;
  border-radius: 2px;
  margin-right: 15px;
  line-height: 1.42857143;
  font-family: 'Nunito',sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3d455c;
}

.post-footer-section {
  background-color: #bfbf14;
}

.trending-posts {
  padding: 0 5%;
}

#login-content {
  margin: 10%;
}

#login-card {
  padding: 5%;
}

.post-card-body {
  padding: 0 10%;
}

.comment-card {
  margin: 0 3%;
}

#post-body-text {
  padding: 10% 0;
}

#comment-body-text {
  padding: 1% 0;
}

.post-footer-area {
  margin: 0;
}

.comments-footer-area {
  margin: 0;
}

img {
  width: 100% !important;
}

.comment-action {
  padding: 1% 10%;
}

.text-cont {
  padding-top: 2%;
}

.encloser {
  border: 1px solid black;
  border-radius: 25px;
  margin: 3% 10%;
  padding: 3% 5%;
}

.encloseEditor {
  border: 1px solid black;
  border-radius: 25px;
  /*margin: 3% 10%;*/
  padding: 3% 5%;
}

.editorAlignment {
  text-align: left;
}

#avatar {
  width: 30px !important;
  height: 30px !important;
}

@media screen and (max-width: 768px) {
  .sidebar_el_mobile {
    display: none;
  }

  /*#profile-follow {
    position: 'absolute';
    top: '50%' !important;
    left: '70%' !important;
  }*/

  .follow-badge {
    padding: 30% !important;
  }
}